*.dist
*.build
.venv-release

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test artifacts
.mypy_cache/

# virtual environment
/venv
# JetBrains IDE project settings folder
/.idea
