*.dist
*.build
.venv-release

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test artifacts
.mypy_cache/

# virtual environment
venv/

# pyenv local version
/.python-version

# JetBrains IDE project settings folder
.idea/

/build
/cache

/licenses.json

# direnv setting file
.envrc

# asdf setting file
.tool-versions

# neovim local workspace directory
.vim/
