*.dist
*.build
.venv-release

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# test artifacts
.mypy_cache/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv local version
/.python-version

# JetBrains IDE project settings folder
.idea/

/build
/cache

/licenses.json
