aiofiles==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
anyio==3.6.2 ; python_version >= "3.10" and python_version < "3.11"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.11"
asgiref==3.6.0 ; python_version >= "3.10" and python_version < "3.11"
atomicwrites==1.4.0 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32"
attrs==22.2.0 ; python_version >= "3.10" and python_version < "3.11"
black==22.12.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2022.12.7 ; python_version >= "3.10" and python_version < "3.11"
cffi==1.15.1 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==2.1.1 ; python_version >= "3.10" and python_version < "3.11"
click==8.0.4 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.4 ; python_version >= "3.10" and python_version < "3.11" and sys_platform == "win32" or python_version >= "3.10" and python_version < "3.11" and platform_system == "Windows"
colorlog==4.8.0 ; python_version >= "3.10" and python_version < "3.11"
coverage==5.5 ; python_version >= "3.10" and python_version < "3.11"
coveralls==3.2.0 ; python_version >= "3.10" and python_version < "3.11"
cython==0.29.24 ; python_version >= "3.10" and python_version < "3.11"
dacite==1.7.0 ; python_version >= "3.10" and python_version < "3.11"
docopt==0.6.2 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.70.0 ; python_version >= "3.10" and python_version < "3.11"
flake8-bugbear==23.1.20 ; python_version >= "3.10" and python_version < "3.11"
flake8==6.0.0 ; python_version >= "3.10" and python_version < "3.11"
gitdb==4.0.10 ; python_version >= "3.10" and python_version < "3.11"
gitpython==3.1.29 ; python_version >= "3.10" and python_version < "3.11"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
iniconfig==1.1.1 ; python_version >= "3.10" and python_version < "3.11"
isort==5.12.0 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.1 ; python_version >= "3.10" and python_version < "3.11"
mccabe==0.7.0 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==0.4.3 ; python_version >= "3.10" and python_version < "3.11"
mypy==0.991 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.24.2 ; python_version >= "3.10" and python_version < "3.11"
packaging==22.0 ; python_version >= "3.10" and python_version < "3.11"
pathspec==0.10.3 ; python_version >= "3.10" and python_version < "3.11"
platformdirs==2.6.2 ; python_version >= "3.10" and python_version < "3.11"
pluggy==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
py==1.11.0 ; python_version >= "3.10" and python_version < "3.11"
pycodestyle==2.10.0 ; python_version >= "3.10" and python_version < "3.11"
pycparser==2.21 ; python_version >= "3.10" and python_version < "3.11"
pydantic==1.10.2 ; python_version >= "3.10" and python_version < "3.11"
pyflakes==3.0.1 ; python_version >= "3.10" and python_version < "3.11"
pyopenjtalk @ git+https://github.com/VOICEVOX/pyopenjtalk@827a3fc5c7dda7bbe832c0c69da98e39cc8cb2c3 ; python_version >= "3.10" and python_version < "3.11"
pysen==0.10.3 ; python_version >= "3.10" and python_version < "3.11"
pytest==6.2.5 ; python_version >= "3.10" and python_version < "3.11"
python-multipart==0.0.5 ; python_version >= "3.10" and python_version < "3.11"
pyworld==0.3.2 ; python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "3.11"
requests==2.28.1 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.10.1 ; python_version >= "3.10" and python_version < "3.11"
semver==3.0.0 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
smmap==5.0.0 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
soundfile==0.10.3.post1 ; python_version >= "3.10" and python_version < "3.11"
starlette==0.16.0 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tomlkit==0.11.6 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.64.1 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.4.0 ; python_version >= "3.10" and python_version < "3.11"
unidiff==0.7.4 ; python_version >= "3.10" and python_version < "3.11"
urllib3==1.26.13 ; python_version >= "3.10" and python_version < "3.11"
uvicorn==0.15.0 ; python_version >= "3.10" and python_version < "3.11"
