annotated-types==0.6.0 ; python_version >= "3.11" and python_version < "3.12"
anyio==4.3.0 ; python_version >= "3.11" and python_version < "3.12"
attrs==23.2.0 ; python_version >= "3.11" and python_version < "3.12"
authlib==1.3.0 ; python_version >= "3.11" and python_version < "3.12"
black==24.4.2 ; python_version >= "3.11" and python_version < "3.12"
build==1.2.1 ; python_version >= "3.11" and python_version < "3.12"
cachecontrol[filecache]==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
certifi==2024.2.2 ; python_version >= "3.11" and python_version < "3.12"
cffi==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
cfgv==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
charset-normalizer==3.3.2 ; python_version >= "3.11" and python_version < "3.12"
cleo==2.1.0 ; python_version >= "3.11" and python_version < "3.12"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.12" and (sys_platform == "win32" or platform_system == "Windows" or os_name == "nt")
colorlog==4.8.0 ; python_version >= "3.11" and python_version < "3.12"
coverage==6.5.0 ; python_version >= "3.11" and python_version < "3.12"
coveralls==3.3.1 ; python_version >= "3.11" and python_version < "3.12"
crashtest==0.4.1 ; python_version >= "3.11" and python_version < "3.12"
cryptography==42.0.7 ; python_version >= "3.11" and python_version < "3.12"
cython==3.0.10 ; python_version >= "3.11" and python_version < "3.12"
dacite==1.8.1 ; python_version >= "3.11" and python_version < "3.12"
distlib==0.3.8 ; python_version >= "3.11" and python_version < "3.12"
docopt==0.6.2 ; python_version >= "3.11" and python_version < "3.12"
dparse==0.6.4b0 ; python_version >= "3.11" and python_version < "3.12"
dulwich==0.21.7 ; python_version >= "3.11" and python_version < "3.12"
fastapi-slim==0.111.0 ; python_version >= "3.11" and python_version < "3.12"
fastjsonschema==2.19.1 ; python_version >= "3.11" and python_version < "3.12"
filelock==3.14.0 ; python_version >= "3.11" and python_version < "3.12"
flake8-bugbear==24.4.26 ; python_version >= "3.11" and python_version < "3.12"
flake8==7.0.0 ; python_version >= "3.11" and python_version < "3.12"
gitdb==4.0.11 ; python_version >= "3.11" and python_version < "3.12"
gitpython==3.1.43 ; python_version >= "3.11" and python_version < "3.12"
h11==0.14.0 ; python_version >= "3.11" and python_version < "3.12"
httpcore==1.0.5 ; python_version >= "3.11" and python_version < "3.12"
httpx==0.27.0 ; python_version >= "3.11" and python_version < "3.12"
identify==2.5.36 ; python_version >= "3.11" and python_version < "3.12"
idna==3.7 ; python_version >= "3.11" and python_version < "3.12"
importlib-metadata==7.1.0 ; python_version >= "3.11" and python_version < "3.12"
iniconfig==2.0.0 ; python_version >= "3.11" and python_version < "3.12"
installer==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
isort==5.13.2 ; python_version >= "3.11" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_version < "3.12"
jeepney==0.8.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "linux"
jinja2==3.1.4 ; python_version >= "3.11" and python_version < "3.12"
keyring==24.3.1 ; python_version >= "3.11" and python_version < "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "3.12"
markupsafe==2.1.5 ; python_version >= "3.11" and python_version < "3.12"
marshmallow==3.21.2 ; python_version >= "3.11" and python_version < "3.12"
mccabe==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "3.12"
more-itertools==10.2.0 ; python_version >= "3.11" and python_version < "3.12"
msgpack==1.0.8 ; python_version >= "3.11" and python_version < "3.12"
mypy-extensions==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
mypy==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
nodeenv==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.11" and python_version < "3.12"
packaging==24.0 ; python_version >= "3.11" and python_version < "3.12"
pathspec==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "3.12"
pip-licenses==4.4.0 ; python_version >= "3.11" and python_version < "3.12"
pkginfo==1.10.0 ; python_version >= "3.11" and python_version < "3.12"
platformdirs==4.2.2 ; python_version >= "3.11" and python_version < "3.12"
pluggy==1.5.0 ; python_version >= "3.11" and python_version < "3.12"
poetry-core==1.9.0 ; python_version >= "3.11" and python_version < "3.12"
poetry-plugin-export==1.8.0 ; python_version >= "3.11" and python_version < "3.12"
poetry==1.8.2 ; python_version >= "3.11" and python_version < "3.12"
pre-commit==2.21.0 ; python_version >= "3.11" and python_version < "3.12"
prettytable==3.10.0 ; python_version >= "3.11" and python_version < "3.12"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "3.12"
pycodestyle==2.11.1 ; python_version >= "3.11" and python_version < "3.12"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.12"
pydantic-core==2.18.4 ; python_version >= "3.11" and python_version < "3.12"
pydantic==2.7.3 ; python_version >= "3.11" and python_version < "3.12"
pyflakes==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
pygments==2.18.0 ; python_version >= "3.11" and python_version < "3.12"
pyopenjtalk @ git+https://github.com/VOICEVOX/pyopenjtalk@b35fc89fe42948a28e33aed886ea145a51113f88 ; python_version >= "3.11" and python_version < "3.12"
pyproject-hooks==1.1.0 ; python_version >= "3.11" and python_version < "3.12"
pysen==0.11.0 ; python_version >= "3.11" and python_version < "3.12"
pytest==8.2.0 ; python_version >= "3.11" and python_version < "3.12"
python-multipart==0.0.9 ; python_version >= "3.11" and python_version < "3.12"
pywin32-ctypes==0.2.2 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "win32"
pyworld==0.3.4 ; python_version >= "3.11" and python_version < "3.12"
pyyaml==6.0.1 ; python_version >= "3.11" and python_version < "3.12"
rapidfuzz==3.9.0 ; python_version >= "3.11" and python_version < "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.11" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.11" and python_version < "3.12"
rich==13.7.1 ; python_version >= "3.11" and python_version < "3.12"
ruamel-yaml-clib==0.2.8 ; platform_python_implementation == "CPython" and python_version < "3.12" and python_version >= "3.11"
ruamel-yaml==0.18.6 ; python_version >= "3.11" and python_version < "3.12"
safety-schemas==0.0.2 ; python_version >= "3.11" and python_version < "3.12"
safety==3.2.0 ; python_version >= "3.11" and python_version < "3.12"
secretstorage==3.3.3 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "linux"
semver==3.0.2 ; python_version >= "3.11" and python_version < "3.12"
setuptools==69.5.1 ; python_version >= "3.11" and python_version < "3.12"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.11" and python_version < "3.12"
smmap==5.0.1 ; python_version >= "3.11" and python_version < "3.12"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "3.12"
soundfile==0.12.1 ; python_version >= "3.11" and python_version < "3.12"
soxr==0.3.7 ; python_version >= "3.11" and python_version < "3.12"
starlette==0.37.2 ; python_version >= "3.11" and python_version < "3.12"
syrupy==4.6.1 ; python_version >= "3.11" and python_version < "3.12"
tomlkit==0.12.5 ; python_version >= "3.11" and python_version < "3.12"
tqdm==4.66.4 ; python_version >= "3.11" and python_version < "3.12"
trove-classifiers==2024.4.10 ; python_version >= "3.11" and python_version < "3.12"
typer==0.12.3 ; python_version >= "3.11" and python_version < "3.12"
types-pyyaml==6.0.12.20240311 ; python_version >= "3.11" and python_version < "3.12"
typing-extensions==4.11.0 ; python_version >= "3.11" and python_version < "3.12"
unidiff==0.7.5 ; python_version >= "3.11" and python_version < "3.12"
urllib3==2.2.1 ; python_version >= "3.11" and python_version < "3.12"
uvicorn==0.29.0 ; python_version >= "3.11" and python_version < "3.12"
virtualenv==20.26.2 ; python_version >= "3.11" and python_version < "3.12"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "3.12"
xattr==1.1.0 ; python_version >= "3.11" and python_version < "3.12" and sys_platform == "darwin"
zipp==3.18.1 ; python_version >= "3.11" and python_version < "3.12"
