<!DOCTYPE html>

<!-- 
  VOICEVOXエンジンの設定ページです。
  ライブラリをロードしたあと、Vueコンポーネントの初期化が完了してからUIを表示します。
-->

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>VOICEVOX Engine 設定</title>
    <link
      rel="shortcut icon"
      href="https://voicevox.hiroshiba.jp/favicon-32x32.png"
    />

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- Vueの準備が完了した後にvisibility: visibleにする -->
    <div id="app" class="container p-3" style="visibility: hidden">
      <div class="alert alert-warning" role="alert">
        設定の変更の更新にはエンジンの再起動が必要です。
      </div>

      <div class="mb-3">
        <label class="form-label">CORS Policy Mode</label>
        <select
          class="form-select"
          aria-label="corsPolicyMode"
          v-model="corsPolicyMode"
        >
          <option value="localapps">localapps</option>
          <option value="all">all</option>
        </select>
        <div class="form-text">
          <p class="mb-1">
            allまたはlocalappsを指定。allはすべてを許可します。
          </p>
          <p class="mb-1">
            localappsはオリジン間リソース共有ポリシーを、app://.とlocalhost関連に限定します。
          </p>
          <p>
            その他のオリジンはallow_originオプションで追加できます。デフォルトはlocalapps。
          </p>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Allow Origin</label>
        <input
          class="form-control"
          type="text"
          v-model.trim.lazy="allowOrigin"
        />
        <div class="form-text">
          許可するオリジンを指定します。複数指定する場合は、直後にスペースで区切って追加できます。
        </div>
      </div>

      <hr />

      <div class="mb-3">
        <label class="form-label">ユーザー辞書のエクスポート&インポート</label>
        <div class="form-text">辞書のエクスポートをします。</div>
        <a
          download="VOICEVOXユーザー辞書.json"
          class="btn btn-primary mb-3"
          href="/user_dict"
          @click="showToastWithMessage('辞書をエクスポートしました。');"
          target="_blank"
          rel="noopener noreferrer"
        >
          エクスポート
        </a>

        <div class="form-text">辞書のインポートをします。</div>
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#dictSubmitModal"
        >
          インポート
        </button>
      </div>

      <!-- ユーザー辞書インポート用モーダル -->
      <div
        class="modal fade"
        id="dictSubmitModal"
        tabindex="-1"
        aria-labelledby="dictSubmitModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="dictSubmitModalLabel">
                ユーザー辞書のインポート
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <input
                class="m-3 form-control"
                type="file"
                name="user_dictionary_file"
                accept="application/json"
                @change="(e) => { dictFileForImport = e.target.files[0]; }"
              />
              <input
                class="ms-3 form-check-input"
                type="checkbox"
                name="allow_override"
                value="true"
                id="allowOverrideDict"
                v-model="allowOverrideDict"
                :disabled="dictFileForImport == undefined"
              />
              <label class="mb-3 form-check-label" for="allowOverrideDict"
                >辞書の上書きを許可する。</label
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                キャンセル
              </button>
              <button
                type="button"
                @click="importUserDict"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                :disabled="dictFileForImport == undefined"
              >
                インポート
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
        <div
          class="toast align-items-center autohide text-white bg-success"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          ref="toastElem"
        >
          <div class="d-flex">
            <div class="toast-body">{{toastMessage}}</div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function initVue() {
        const { createApp, ref, watch, onMounted } = Vue;
        createApp({
          setup() {
            // 設定値周り
            const corsPolicyMode = ref(
              "<JINJA_PRE>cors_policy_mode<JINJA_POST>"
            );
            const allowOrigin = ref("<JINJA_PRE>allow_origin<JINJA_POST>");

            // 設定が変更されたら自動保存
            watch([corsPolicyMode, allowOrigin], () => {
              const formData = new FormData();
              formData.append("cors_policy_mode", corsPolicyMode.value);
              formData.append("allow_origin", allowOrigin.value);

              fetch("/setting", {
                method: "POST",
                mode: "same-origin",
                body: formData,
              }).then((res) => {
                if (res.ok) {
                  showToastWithMessage("設定を保存しました。");
                } else {
                  showToastWithMessage("設定の保存に失敗しました。");
                }
              });
            });

            // 辞書周り
            const dictFileForImport = ref();
            const allowOverrideDict = ref(false);

            const importUserDict = () => {
              if (dictFileForImport.value == null) {
                throw new Error("dictFileForImportが見つかりません。");
              }

              const reader = new FileReader();
              reader.addEventListener("load", async () => {
                const params = new URLSearchParams({
                  override: allowOverrideDict.value,
                });
                await fetch(`/import_user_dict?${params}`, {
                  method: "POST",
                  mode: "same-origin",
                  headers: { "Content-Type": "application/json" },
                  body: reader.result,
                });

                showToastWithMessage("辞書をインポートしました。");
              });

              reader.readAsText(dictFileForImport.value);
            };

            // トースト
            const toastElem = ref(null);
            const toast = ref(null);
            const toastMessage = ref("");
            onMounted(() => {
              if (toastElem.value == null) {
                throw new Error("toastElemが見つかりません。");
              }
              toast.value = new bootstrap.Toast(toastElem.value);
            });
            const showToastWithMessage = (message) => {
              console.log(`showToastWithMessage: ${message}`);
              toast.value.show();
              toastMessage.value = message;
            };

            // Vueの準備が完了したら表示
            onMounted(() => {
              document.getElementById("app").style.visibility = "visible";
            });

            return {
              corsPolicyMode,
              allowOrigin,
              dictFileForImport,
              allowOverrideDict,
              importUserDict,
              toastElem,
              toastMessage,
              showToastWithMessage,
            };
          },
        }).mount("#app");
      }

      /**
       * CDNからVueを読み込む。
       * CDNが使えないときのために複数の候補を試す。
       */
      function loadVue() {
        var srcList = [
          "https://unpkg.com/vue@3.3.10/dist/vue.global.js",
          "https://cdn.jsdelivr.net/npm/vue@3.3.10/dist/vue.global.js",
          "https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.10/vue.global.js",
        ];
        var current = 0;

        function loadNext() {
          if (current >= srcList.length) {
            console.error("全てのCDNでloadVueのロードに失敗しました。");
            return;
          }

          var script = document.createElement("script");
          script.src = srcList[current];
          script.integrity =
            "sha384-ttfhgYK68lNlS8ak6Z//mvUbpRbRCh43MYGuqEtK8mj/yzlKqY8GA8o3BPMi23cE";
          script.crossOrigin = "anonymous";
          script.onload = initVue;
          script.onerror = function () {
            current++;
            loadNext();
          };
          document.head.appendChild(script);
        }

        loadNext();
      }
      loadVue();
    </script>
  </body>
</html>
