name: build-docker
on:
  push:
    branches:
      - master
  release:
    types:
      - created

jobs:
  build-docker:
    runs-on: ${{ matrix.os }}

    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/voicevox_engine
      # IMAGE_NAME: voicevox/voicevox_engine

    strategy:
      matrix:
        os: [ubuntu-latest]
        tag:
          - ''
          - cpu
          - cpu-ubuntu20.04
          - nvidia
          - nvidia-ubuntu20.04
        voicevox_core_version: [0.6.0]
        voicevox_core_example_version: [0.6.0]
        include:
          # Ubuntu 20.04
          - tag: ''
            target: runtime-env
            base_image: ubuntu:focal
            base_runtime_image: ubuntu:focal
            voicevox_core_library_name: core_cpu
            libtorch_url: https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcpu.zip
          - tag: cpu
            target: runtime-env
            base_image: ubuntu:focal
            base_runtime_image: ubuntu:focal
            voicevox_core_library_name: core_cpu
            libtorch_url: https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcpu.zip
          - tag: cpu-ubuntu20.04
            target: runtime-env
            base_image: ubuntu:focal
            base_runtime_image: ubuntu:focal
            voicevox_core_library_name: core_cpu
            libtorch_url: https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcpu.zip
          - tag: nvidia
            target: runtime-nvidia-env
            base_image: ubuntu:focal
            base_runtime_image: nvidia/cuda:11.4.1-cudnn8-runtime-ubuntu20.04
            voicevox_core_library_name: core
            libtorch_url: https://download.pytorch.org/libtorch/cu111/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcu111.zip
          - tag: nvidia-ubuntu20.04
            target: runtime-nvidia-env
            base_image: ubuntu:focal
            base_runtime_image: nvidia/cuda:11.4.1-cudnn8-runtime-ubuntu20.04
            voicevox_core_library_name: core
            libtorch_url: https://download.pytorch.org/libtorch/cu111/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcu111.zip
          # Ubuntu 18.04
          - tag: cpu-ubuntu18.04
            target: runtime-env
            base_image: ubuntu:bionic
            base_runtime_image: ubuntu:bionic
            voicevox_core_version: 0.6.0
            voicevox_core_example_version: 0.6.0
            voicevox_core_library_name: core
            libtorch_url: https://download.pytorch.org/libtorch/cpu/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcpu.zip
            use_glibc_229_workaround: 1
          - tag: nvidia-ubuntu18.04
            target: runtime-nvidia-env
            base_image: ubuntu:bionic
            base_runtime_image: nvidia/cuda:11.4.1-cudnn8-runtime-ubuntu18.04
            voicevox_core_version: 0.6.0
            voicevox_core_example_version: 0.6.0
            voicevox_core_library_name: core
            libtorch_url: https://download.pytorch.org/libtorch/cu111/libtorch-cxx11-abi-shared-with-deps-1.9.0%2Bcu111.zip
            use_glibc_229_workaround: 1

    steps:
      - uses: actions/checkout@v2

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Deploy Docker image
        uses: docker/build-push-action@v2
        env:
          IMAGE_TAG: ${{ env.IMAGE_NAME }}:${{ matrix.tag }}${{ (matrix.tag != '' && '-') || '' }}latest
          VERSIONED_IMAGE_TAG: |
            ${{ (
              github.event.release.tag_name != '' && (
                matrix.tag != '' && (
                  format('{0}:{1}-{2}', env.IMAGE_NAME, matrix.tag, github.event.release.tag_name)
                ) || format('{0}:{1}', env.IMAGE_NAME, github.event.release.tag_name)
              )
            ) || '' }}
        with:
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          file: ./Dockerfile
          build-args: |
            BASE_IMAGE=${{ matrix.base_image }}
            BASE_RUNTIME_IMAGE=${{ matrix.base_runtime_image }}
            VOICEVOX_CORE_VERSION=${{ matrix.voicevox_core_version }}
            VOICEVOX_CORE_EXAMPLE_VERSION=${{ matrix.voicevox_core_example_version }}
            VOICEVOX_CORE_LIBRARY_NAME=${{ matrix.voicevox_core_library_name }}
            LIBTORCH_URL=${{ matrix.libtorch_url }}
            USE_GLIBC_229_WORKAROUND=${{ matrix.use_glibc_229_workaround || '0' }}
          target: ${{ matrix.target }}
          push: true
          tags: |
            ${{ env.IMAGE_TAG }}
            ${{ env.VERSIONED_IMAGE_TAG }}
          cache-from: type=registry,ref=${{ env.IMAGE_TAG }}-buildcache
          cache-to: type=registry,ref=${{ env.IMAGE_TAG }}-buildcache,mode=max
